<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ustc_pc.myapplication" >

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/ic_launcher"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ActivityWelcome"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:logo="@drawable/ic_launcher"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/login" />
        <activity
            android:name=".activity.ActivityPersonal"
            android:label="@string/title_activity_activity_personal" >
        </activity>
        <activity
            android:name=".activity.ActivityViewPersonal"
            android:label="@string/title_activity_activity_view_personal" >
        </activity>
        <activity
            android:name=".activity.ActivityViewAssessment"
            android:label="@string/title_activity_activity_assessment" >
        </activity>
        <activity
            android:name=".activity.ActivitySelectImage"
            android:label="@string/select_photo" >
        </activity>
        <activity
            android:name=".activity.ActivitySetting"
            android:label="@string/title_activity_activity_setting" >
        </activity>
        <activity
            android:name=".activity.ActivityForgetPassword"
            android:label="@string/title_activity_activity_forget_password"
            android:parentActivityName=".activity.LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ustc_pc.myapplication.activity.LoginActivity" />
        </activity>
        <activity
            android:name=".activity.SelectCourseActivity"
            android:label="@string/title_activity_selecte_course" >
        </activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name=".activity.CourseActivity"
            android:label="@string/title_activity_course" >
        </activity>
        <activity
            android:name=".activity.MultiSonQuestionActivity"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name=".activity.BaseTestActivity"
            android:label="@string/title_activity_base_test" >
        </activity>
        <activity
            android:name=".activity.CABaseTestActivity"
            android:label="@string/title_activity_check_answer" >
        </activity>
        <activity
            android:name=".activity.ShowAnalysisActivity"
            android:label="@string/title_activity_show_analysis" >
        </activity>
        <activity
            android:name=".activity.ShowRecordedQueActivity"
            android:label="@string/title_activity_show_recorded_que" >
        </activity>
    </application>

</manifest>
